<header>
  <div class="header">
    <div class="icon">
      <img src="./assets/Mcq finder 2.png" alt="">
      <span class="heading-text">MCQ Answer Finder</span>
    </div>
    <nav>
      <ul class="navbar-links" id="links">
        <li><a routerLink="" routerLinkActive="active"> Home</a></li>
        <li><a routerLink="disclaimer"  routerLinkActive="active">Disclaimer</a></li>
        <li><a routerLink="privacy-policy"  routerLinkActive="active">Privacy Policy</a></li>
        <li><a routerLink="contact-us"  routerLinkActive="active">Contact Us</a></li>
        <li><a routerLink="about-us"  routerLinkActive="active">About us</a></li>
      </ul>
    </nav>
  </div>
</header>
<hr>

