<div class="Privacy-policy-statement">
  <h1>Privacy Policy</h1>
  <h3>User Personal information</h3>
  <p>We don't collect any kind of user data. If we want users' personal data we have authority to do that by letting the
    user know. But till now we don't collect user data.</p>
  <h3>Ads on site</h3>
  <p>The ads on site are shown by third party vendors like google or adsterra,etc. So ads is based on users' activity on
    the internet</p>
  <h3>Links to other websites</h3>
  <p>As our website refers to other websites for users use or references. We are not responsible for The privacy
    policies on these websites. You should be aware that the privacy policies of these sites may differ from our own.
  </p>
  <h3>Changes to this privacy statement</h3>
  <p>The contents of this statement may be changed at any time at our discretion. If you have any questions regarding
    the privacy policy of Mcq Answer Finder then you may contact us at nemesis.sky777@ gmail.com.
  </p>
</div>
